@import "../../shared/modules.shared.css";

.player-status {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 20px;
}
.card-element {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  height: 100%;
  margin-left: 0;
  text-align: center;
}
.player-text {
  display: block;
  font-size: large;
  text-align: center;
}
.player-list-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}
.player-list {
    flex: 1;
    text-align: center;
}
.list-title {
    font-weight: bold;
    margin-bottom: 10px;
}
.player-name {
    margin: 2px;
}
.answered-list {
    border-right: 2px solid #ccc;
}
.unanswered-list {
    padding-left: 20px;
}


