.tester-all {
  padding: 10px;
  margin: 10px;
}
.tester-head {
  font-family: monospace;
  color: black;
  font-size: 200%;
  margin-bottom: 20px;
}
.tester-body {
  font-family: monospace;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}
.tester-text {
  margin-bottom: 10px;
}
.mat-input-main {
  width: 100%;
}
.mat-input-label {
  color: white;
}



.correct {
  background-color: #A9DFBF;
}
.solution {
  background-color: #a3d2ff !important;
}
.incorrect {
  color:#ba2828;
  background-color: #F5B7B1;
  transition: background-color 0.3s ease-in-out;
}
