@import "../../modules/player/shared/player.shared.css";

mat-card-content {
  padding: 0;
}
.card-element {
  margin-top: 20px;
}
.player-join {
  width: 80%;
}
.btn-block {
  margin-bottom: 20px;
}
