<div class="portal-grid">
  <h2 class="h2-grid">Create a new Quiz:</h2>

  <span class="left-btn">
    <button mat-mini-fab color="negative" (click)="closeCreation()"><mat-icon>close</mat-icon></button>
  </span>
  <span class="left-2nd-btn">
    <button mat-mini-fab color="positive" (click)="saveCreation()"><mat-icon>save</mat-icon></button>
  </span>

  <span class="content-grid">
    Form Form Form Form Form Form Form Form<br>
    Form Form Form Form Form Form Form Form<br>
    Form Form Form Form Form Form Form Form<br>
    Form Form Form Form Form Form Form Form<br>
    Form Form Form Form Form Form Form Form<br>
    Form Form Form Form Form Form Form Form<br>
    Form Form Form Form Form Form Form Form<br>
    Form Form Form Form Form Form Form Form<br>
    Form Form Form Form Form Form Form Form<br>
    Form Form Form Form Form Form Form Form<br>
    Form Form Form Form Form Form Form Form<br>
  </span>
</div>
