<p class="abusive-paragraph">
  <mat-toolbar class="toolbar-main">
    <span class="header-spacer narrow">
      <img class="img-circular-left" src="assets/regex_logo_2.png" alt="regex logo" routerLink="home" routerLinkActive="active"/>
    </span>
    <span class="header-spacer far">Regex Tokenizer</span>
    <span class="header-spacer narrow">
      <button mat-raised-button class="header-button">Ranking</button>
      <button mat-raised-button class="header-button">Regex Tester</button>
      <button mat-raised-button class="header-button">About</button>
      <button mat-raised-button class="header-button">Logout</button>
    </span>
    <span class="header-spacer far"></span>
    <span class="header-spacer far"></span>
  </mat-toolbar>
</p>
