<div class="center">
  <mat-card class="card-element">
    <mat-card-header style="display: block">
      <mat-card-title style="font-size: xx-large; margin-bottom: 20px;">Enter a name:</mat-card-title>
      <p>
        Your nickname will be displayed on the main screen,<br>
        choose wisely...
      </p>
    </mat-card-header>

    <form [formGroup]="playerRegForm">
      <mat-card-content>
        <mat-form-field class="player-reg">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>

        <ng-template [ngIf]="errorMsg">
          <p class="error-message">
            {{ errorMsg }}
          </p>
        </ng-template>
      </mat-card-content>
    </form>
    <button mat-fab color="positive" class="btn-block" routerLinkActive="active" (click)="doRegister()" [disabled]="playerRegForm.invalid">
      <mat-icon>
        done_outline
      </mat-icon>
    </button>
  </mat-card>
</div>
