<div class="center full-width">
  <mat-card class="card-element">
    <mat-card-header style="display: block">
      <mat-card-title style="font-size: xx-large; margin-bottom: 20px;">Enter a name:</mat-card-title>
      <p class="para-big">
        Joining Game {{quizId}}
      </p>
    </mat-card-header>

    <form [formGroup]="playerRegForm">
      <mat-card-content>
        <mat-form-field class="player-reg">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username">
          <mat-hint *ngIf='playerRegForm.get("username")?.hasError("maxlength")' style="color: red">Username is over 10 characters long!</mat-hint>
        </mat-form-field>

        <ng-template [ngIf]="errorMsg">
          <p class="error-message">
            {{ errorMsg }}
          </p>
        </ng-template>
      </mat-card-content>
    </form>
    <button mat-fab color="positive" class="btn-block" routerLinkActive="active" (click)="doRegister()" [disabled]="playerRegForm.invalid">
      <mat-icon>
        done_outline
      </mat-icon>
    </button>
  </mat-card>
</div>
