<app-header></app-header>

<span class="home-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Existing Quizzes</mat-card-title>
    </mat-card-header>
    <form class="example-form">
      <button mat-raised-button color="accent" class="btn-block" (click)="getHostQuizzes()">
        <span class="id">1</span>
        <span class="name">Placehorefgrgdrgrdgl Example</span>
      </button>
      <button mat-raised-button color="accent" class="btn-block" routerLink="/home/preview" routerLinkActive="active">
        <span class="id">2</span>
        <span class="name">ample</span>
      </button>
      <button mat-raised-button color="accent" class="btn-block" routerLink="/home/preview" routerLinkActive="active">
        <span class="id">3</span>
        <span class="name">Placeholder Example</span>
      </button>
      <button mat-raised-button color="accent" class="btn-block" routerLink="/home/preview" routerLinkActive="active">
        <span class="id">4</span>
        <span class="name">Placeholder Example</span>
      </button>
      <button mat-raised-button color="accent" class="btn-block" routerLink="/home/preview" routerLinkActive="active">
        <span class="id">5</span>
        <span class="name">Placeholdereeeeeeeeeeeee Example</span>
      </button>
    </form>
  </mat-card>
</span>
<div class="center">
  <button mat-raised-button color="accent" class="button-normal">Create New Quiz</button>
</div>
<!--
<div class="games-container">
  <ul class="games-list">
    <li>
      <button mat-raised-button type="button" class="home-wrapper mat-stroked-button">
        <span class="badge">1</span>
        <span class="name">Quiz Name</span>
      </button>
    </li>
  </ul>
</div>
-->

<span class="home-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button color="accent" class="button-normal" routerLink="/home/sandrin" routerLinkActive="active">Sandrin</button>
</span>
