<app-header [currentPlayerName]="playerName"></app-header>
<div class="center full-width">
  <mat-card class="card-element">
    <div class="time-bar">
      <div class="timer-progress" [style.width.%]="remainingTime / 60 * 100"></div>
    </div>
    <div [formGroup]="wordCalcForm">
      <div formArrayName="wordsArray">
        <ng-template ngFor let-word [ngForOf]="wordsArray.controls"
                     let-position = "index">
          <div class="word-calc-field" [formGroupName]="position">
            <div class="word-calc-switch" style="display: block; align-items: center;">
              <mat-slide-toggle color="accent" (change)="changeSubtract(position, $event)" formControlName="isSubtracted"></mat-slide-toggle>
            </div>

            <div class="word-calc-input-field">
              <input class="word-calc-input" matInput placeholder="enter new word" (input)="changeWord(position, $event)" formControlName="word">
            </div>
            <div class="target-feedback-icon">
              <mat-icon *ngIf="invalidInput(position)" class="warning-icon" matTooltip="This word is not valid, please enter a different one." matTooltipPosition="right">error</mat-icon>
            </div>

            <div class="word-calc-remove">
              <button mat-mini-fab class="remove" color="negative" [disabled]="position===0 && onlyOneField()" (click)="removeField(position)">
                <mat-icon>remove_circle</mat-icon>
              </button>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="center">
        <ng-template [ngIf]="allIndexWordNonEmpty()">
          <button mat-mini-fab color="negative" class="marginalized" [disabled]="!allIndexWordNonEmpty()" (click)="addField()">
            <mat-icon>
              add
            </mat-icon>
          </button>
        </ng-template>
      </div>
    </div>
    <ng-template [ngIf]="errorMsg">
      <p class="error-message">
        {{ errorMsg }}
      </p>
    </ng-template>
    <button mat-fab color="positive" class="btn-block" style="margin-top: 30px;" (click)="submit()">
      <mat-icon>send</mat-icon>
    </button>
  </mat-card>
</div>
