@import "../../shared/player.shared.css";

.inner-title {
  margin-bottom: 5px;
  font-size: 120%;
}
.rules-container {
  font-size: 100%;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
}
.target-word {
  overflow-wrap: break-word;
  text-align: center;
  margin-bottom: 10px;
  background-color: lightgreen;
  padding: 12px;
  border-radius: 12px;
}
.forbidden-word {
  margin-bottom: 5px;
  background-color: darkred;
  color: white;
  padding: 12px;
  border-radius: 12px;
}
.word-calc-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
.word-calc-field {
  margin-bottom: 7px;
}
.word-calc-switch {
  margin-right: 5px;
}
.word-calc-input {
  padding: 10px 5px;
}
.marginalized {
  margin-top: 2px;
  margin-bottom: 14px;
}
.mdi-close {
  visibility: visible !important;
  opacity: 1 !important;
}
button.remove:disabled {
  visibility: hidden;
}
.time-banner {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: darkred;
  transition: color 1s;
}

.time-bar {
  height: 10px;
  width: 100%;
  background-image: linear-gradient(to right, #7b624c, #773e37);
  position: relative;
  margin-bottom: 15px;
}

.timer-progress {
  height: 100%;
  width: 0;
  background-image: linear-gradient(to right, #e4b076, #a87d5b);
  animation: timer-animation 25s linear;
}

@keyframes timer-animation {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
