<app-header [currentPlayerName]="playerName"></app-header>
<div class="center">
  <mat-card class="card-element">
    <div class="time-bar">
      <div class="timer-progress" [style.width.%]="remainingTime / 25 * 100"></div>
    </div>
    <div [formGroup]="wordCalcForm">
      <div formArrayName="wordsArray">
        <ng-template ngFor let-word [ngForOf]="wordsArray.controls"
                     let-position = "index">
          <div class="word-calc-field" [formGroupName]="position">
            <span style="display: block; align-items: center;">
              <mat-slide-toggle class="word-calc-switch" color="accent" (change)="changeSubtract(position, $event)" formControlName="isSubtracted"></mat-slide-toggle>

              <input class="word-calc-input" matInput placeholder="enter word" (input)="changeWord(position, $event)" formControlName="word">

              <button mat-icon-button class="remove" color="warn" [disabled]="position===0 && onlyOneField()" (click)="removeField(position)">
                <mat-icon>remove_circle</mat-icon>
              </button>
            </span>
          </div>
        </ng-template>
      </div>
      <div class="center">
        <ng-template [ngIf]="allIndexWordNonEmpty()">
          <button mat-mini-fab color="negative" class="marginalized" [disabled]="!allIndexWordNonEmpty()" (click)="addField()">
            <mat-icon>
              add
            </mat-icon>
          </button>
        </ng-template>
      </div>
    </div>
    <ng-template [ngIf]="errorMsg">
      <p class="error-message">
        {{ errorMsg }}
      </p>
    </ng-template>
    <button mat-fab color="positive" class="btn-block" style="margin-top: 30px;" (click)="submit()">
      <mat-icon>send</mat-icon>
    </button>
  </mat-card>
</div>
