@import "../../shared/player.shared.css";

.inner-title {
  margin-bottom: 5px;
  font-size: 120%;
}
.rules-container {
  font-size: 100%;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
}
.target-word {
  overflow-wrap: break-word;
  text-align: center;
  margin-bottom: 10px;
  background-color: lightgreen;
  padding: 12px;
  border-radius: 12px;
}
.forbidden-word {
  margin-bottom: 5px;
  background-color: darkred;
  color: white;
  padding: 12px;
  border-radius: 12px;
}
.word-calc-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
.word-calc-field {
  display: grid;
  grid-template: auto / 15% 70% 15%;
  margin-bottom: 10px;
}
.word-calc-switch {
  display: inline-block;
  margin-top: 8px;
  grid-column: 1;
  grid-row: 1;
  text-align: left;
  margin-left: 1%;
}
.word-calc-input {
  font-size: large;
  padding: 10px 5px;
  width: 100%;
  border-radius: 10px;
  border: none;
}
.word-calc-input-field {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
}
.target-feedback-icon {
  grid-column: 2;
  grid-row: 1;
  width: fit-content;
  margin: 8px auto 0 94%;
  justify-content: right;
  text-align: right;
  float: right;
  padding: 0;
}
.word-calc-remove {
  grid-column: 3;
  grid-row: 1;
  padding: 0;
  margin-top: 4px;
  margin-left: 20px;
}
.marginalized {
  margin-top: 2px;
  margin-bottom: 14px;
}
.mdi-close {
  visibility: visible !important;
  opacity: 1 !important;
}
.remove {
  scale: 90%;
  color: #9A4444;
  background: transparent;
  vertical-align: center;
  width: 30px;
  height: 30px;
}
button.remove:disabled {
  visibility: hidden;
}
