<!-- Header -->
<app-header></app-header>

<div class="spacer"></div>
<span class="home-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button color="accent" class="button-big">Start</button>
</span>
<div class="spacer"></div>
<span class="home-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Game</mat-card-title>
    </mat-card-header>
    <form class="example-form">
      <button mat-raised-button color="accent" class="btn-block" routerLink="/home/sandrin" routerLinkActive="active">$andrin</button>
    </form>
  </mat-card>
</span>
