<!-- home.component.html -->

<div class="container">

  <h2>Welcome to our Word2Vec Game</h2>
  <hr class="welcome-hr">
  <p style="font-size: larger">
    Our interactive classroom game challenges participants' word vector manipulation skills. Contestants compete in rounds where they are given a target word and a set of forbidden words.
    The goal is to construct formulas using words (represented as vectors) and mathematical operations, aiming to get as close to the target word as possible without using any of the banned words.
    The contestant with the formula closest to the target word emerges victorious in each round.
  </p>

  <h3><a class="welcome-links" href="https://gitlab.uzh.ch/ltwa-hs23/sandrinraphael.hunkeler/webappcl-client">Client Repository</a> / <a class="welcome-links" href="https://gitlab.uzh.ch/ltwa-hs23/sandrinraphael.hunkeler/webappcl-server">Server Repository</a></h3>
  <h4><a class="welcome-links" href="https://www.linkedin.com/in/sandrin-hunkeler/">Sandrin Hunkeler</a> & <a class="welcome-links" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Patrick Widmer</a></h4>


  <!-- <img src="assets/ZurichUniLogo.svg" alt="Logo of University of Zurich" width="100px"> -->

</div>
