<app-header></app-header>


<span class="host-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>[Quiz Title]</mat-card-title>
    </mat-card-header>
    <form class="example-form">
      <button mat-raised-button color="accent" class="btn-block">
        <span class="id">Target 1:</span>
        <span class="name">Egg</span>
      </button>
    </form>
  </mat-card>
</span>
<div class="center">
  <button mat-raised-button color="accent" class="button-normal">Create New Quiz</button>
</div>
