<app-header></app-header>


<span class="common-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header class="balanced">
      <ng-template *ngIf="quiz == null; else titleBlock">
        <mat-card-title>*** Loading ***</mat-card-title>
      </ng-template>
      <ng-template #titleBlock>
        <mat-card-title class="cheeky">{{ quiz.title }}</mat-card-title>
      </ng-template>
    </mat-card-header>
    <form class="example-form">
      <ng-template ngFor let-round [ngForOf]="allRounds" let-position="index">
        <button mat-raised-button color="accent" class="btn-block" style="text-align: left; margin-bottom: 8px">
          <span class="id" >Target {{ position+1 }}:</span>
          <span class="name">{{ round['roundTarget'] }}</span>
        </button>
      </ng-template>
    </form>
  </mat-card>
</span>
<div class="center">
  <button mat-raised-button color="accent" class="button-normal">Create New Quiz</button>
</div>
