@import "../../shared/host.shared.css";

span .id {
  display: inline-block;
  text-align: left;
  color: darkred;
  margin-left: 15px;
  margin-right: 5px;
  padding: 4px 1px;
}
span .name {
  display: inline-block;
  text-align: left;
  margin-right: 10px;
  padding: 4px 1px;
}
.balanced {
  text-wrap: balance;
  rotation-point: center;
  rotate: -4deg;
}
.cheeky {
  transition: rotate 2s;
}
.cheeky:hover {
  rotation-point: center;
  rotate: 3604deg;
  ;
}
