@import "../../shared/host.shared.css";

span .icon {
  display: inline-block;
  text-align: left;
  color: darkred;
  margin-left: 15px;
  margin-right: 5px;
  padding: 4px 1px;
}
span .name {
  display: inline-block;
  text-align: left;
  margin-right: 10px;
  padding: 4px 1px;
}
.preview-accordion {
  background: none;
  justify-content: center;
  display: inline-block;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
}
.quiz-accordion-round {
  display: block;
  border: black;
}
.target-numeration-element,
.target-word-tease {
  font-size: 16px;
}
.target-numeration-element {
  display: block;
  grid-column: 1 / span 2;
  grid-row: 1;
  text-align: center;
  color: #9A4444;
  font-weight: bold;
  min-width: 50px;
  text-shadow: 1px 1px 1px lightgrey;
}
.target-word-tease {
  display: block;
  grid-column: 1 / span 2;
  grid-row: 2;
  text-align: center;
  overflow-wrap: break-word;
  overflow: hidden;
  font-weight: bold;
}
.quiz-accordion-round-target {
  display: grid;
  column-gap: 8px;
  row-gap: 0;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto auto;
  justify-content: space-evenly;
  align-content: center;
  background-color: #DE8F5F;
  border: solid 1px black;
  margin: -1px 30px 0;
  transition: transform .2s;
}
.quiz-accordion-round-details {
  display: grid;
  column-gap: 8px;
  row-gap: 4px;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: auto auto auto auto auto;
  justify-content: space-evenly;
  align-content: center;
  background-color: #DE8F5F;
  border: solid 1px black;
  margin: -1px 0 15px 60px;
  padding-bottom: 0;
  text-align: center;
  font-size: 16px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.quiz-accordion-round-target,
.quiz-accordion-round-details {
  padding: 16px;
}
.quiz-accordion-round-target:hover {
  cursor: pointer;
  transform: translateX(15px);
}
.quiz-accordion-round:first-child > .quiz-accordion-round-target {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.quiz-accordion-round:last-child > .quiz-accordion-round-target {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.target-word-title,
.forbidden-word-title {
  font-size: 16px;
  font-weight: bold;
  padding-left: 15px;
}
.target-word-title {
  grid-column: 2;
  grid-row: 1;
}
.forbidden-word-title {
  grid-column: 2;
  grid-row: 3;
}
.target-word-element {
  grid-column: 2;
  grid-row: 2;
}
.forbidden-word-container {
  grid-column: 2;
  grid-row: 4;
}
.forbidden-word-element {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.forbidden-word-inline {
  display: grid;
  grid: auto / 80% 20%;
  column-gap: 4px;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}
.forgotten-grid-btn {
  grid-column: 2;
  grid-row: 1;
  display: block;
  padding-top: 20px;
}
.nav-btn-container {
  margin-top: 40px;
  justify-content: space-between;
}
.delete-btn-grid {
  grid-column: 2;
  grid-row: 1 / span 2;
  text-align: center;
}
.add-btn-grid {
  display: block;
  grid-column: 2;
  grid-row: 5;
  text-align: center;
}


.inner-title {
  margin-bottom: 5px;
  font-size: 120%;
}
.rules-container {
  font-size: 100%;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
}
.target-word {
  overflow-wrap: break-word;
  text-align: center;
  margin-bottom: 10px;
  background-color: lightgreen;
  padding: 12px;
  border-radius: 12px;
}
.forbidden-word {
  margin-bottom: 5px;
  background-color: darkred;
  color: white;
  padding: 12px;
  border-radius: 12px;
}
.word-calc-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
.word-calc-field {
  margin-bottom: 7px;
}
.word-calc-switch {
  margin-right: 5px;
}
.word-calc-input {
  padding: 10px 5px;
}
.marginalized {
  margin-top: 2px;
  margin-bottom: 14px;
}
.mdi-close {
  visibility: visible !important;
  opacity: 1 !important;
}
button.remove {
  color: white;
  scale: 80%;
}
button.remove:disabled {
  visibility: hidden;
}

.editable-title {
  border: 1px solid #D6D46D;
  padding: 5px;
  margin-right: 10px;
  width: auto;
}

.edit-title-button {
  scale: 80%;
  margin: 0;
}

