@import "../../shared/host.shared.css";

span .icon {
  display: inline-block;
  text-align: left;
  color: darkred;
  margin-left: 15px;
  margin-right: 5px;
  padding: 4px 1px;
}
span .name {
  display: inline-block;
  text-align: left;
  margin-right: 10px;
  padding: 4px 1px;
}
.preview-accordion {
  background: none;
  justify-content: center;
  display: inline-block;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
}
.quiz-accordion-round {
  display: block;
}
.target-numeration-element {
  display: block;
  margin-right: 8px;
  color: darkred;
  font-weight: bold;
  min-width: 50px;
}
.target-word-tease {
  overflow-wrap: break-word;
  display: block;
  overflow: hidden;
  font-weight: bold;
}
.quiz-accordion-round + .quiz-accordion-round {
  border-top: #888888;
}
.quiz-accordion-round-target {
  background-color: lightgrey;
  border: solid 1px darkgrey;
  border-left-width: 2px;
  border-right-width: 2px;
  display: block;
  margin: 0 30px;
  align-content: center;
  justify-content: center;
  transition: transform .2s;
}
.quiz-accordion-round-details {
  background-color: lightgray;
  border: solid 1px grey;
  display: block;
  margin-left: 60px;
  text-align: center;
  font-size: 16px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.quiz-accordion-round-target,
.quiz-accordion-round-details {
  padding: 16px;
}
.quiz-accordion-round-target:hover {
  cursor: pointer;
  transform: scale(102%);
  background-color: white;
}
.quiz-accordion-round:first-child > .quiz-accordion-round-target {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-width: 2px;
}
.quiz-accordion-round:last-child > .quiz-accordion-round-target {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-width: 2px;
}
.inter-title {
  font-size: 16px;
}
.target-word-element,
.forbidden-word-element {
  overflow-wrap: break-word;
  text-align: center;
  margin: 10px 0;
  padding: 12px 30px;
  border-radius: 12px;
  color: white;
}
.target-word-element {
  background-color: darkgreen;
}
.forbidden-word-element {
  background-color: darkred;
  margin: 10px 0 5px 0;
}
.forbidden-word-element + .forbidden-word-element {
  margin: 5px 0;
}
.nav-btn-container {
  margin-top: 40px;
  justify-content: space-between;
}
