<span class="common-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <div class="rules-container">
      <div mat-card-title class="inner-title">Target Word</div>
      <div class="target-container">
      <div class="target-word">{{round.roundTarget }}</div>
    </div>
    <div mat-card-title class="inner-title">Forbidden Words</div>
    <div class="forbidden-container">
      <ng-template ngFor let-word [ngForOf]="round.forbiddenWords">
        <div class="forbidden-word">{{word}}</div>
      </ng-template>
    </div>
    </div>
  </mat-card>
</span>
