@import "../../shared/host.shared.css";

.card-element {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  row-gap: 4px;
  column-gap: 4%;
  width: 84%;
  margin-top: 30px;
  margin-left: 8%;
  margin-right: 8%;
  padding: 5px 5% 20px;
}
.game-main {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: auto auto auto auto;
  padding: 0;
  row-gap: 10px;
  column-gap: 4px;
  justify-content: space-evenly;
  align-content: start;
  text-align: center;
}
.target-word-title,
.forbidden-word-title {
  width: 100%;
  grid-column: 1;
  text-align: center;
  padding-left: 0;
  font-size: 24px;
}
.target-word-title {
  grid-row: 1;
}
.forbidden-word-title {
  grid-row: 3;
  margin-top: 20px;
}
.target-word-element,
.forbidden-word-element {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 54px;
  font-size: 24px;
  line-height: 48px;
}
.target-word-element {
  grid-column: 1;
  grid-row: 2;
}
.forbidden-word-container {
  grid-column: 1;
  grid-row: 4;
  margin-bottom: 40px;
}
.player-list-container {
  display: flex;
  grid-column: 1 / span 2;
  grid-row: 3;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
}

.player-status {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 20px;
}
.timer-bar-grid {
  grid-column: 1 / span 2;
  grid-row: 2;
  text-align: center;
  padding: 0 6%;
}
.btn-grid-container {
  grid-column: 1 / span 2;
  grid-row: 4;
}
.player-list {
  flex: 1;
  text-align: center;
}
.list-title {
  grid-column: 1 / span 2;
  width: 100%;
  grid-row: 2;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.answered-list {
  border-right: 2px solid #ccc;
}
.unanswered-list {
  padding-left: 20px;
}
.btn-block {
  width: 20%;
}
