html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
}
.card-element {
  text-align: center;
  width: 100%;
  min-width: 20vw;
  position: relative;
  top: 0;
  float: left;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(30px);
  justify-content: center;
  align-items: start;
}
.app-header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}
.common-wrapper {
  height: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
}
.positronx {
  text-decoration: none;
  color: #ffffff;
}
.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 20px 0px 20px 0px;
  width: 100%;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(30px);
  justify-content: center;
  align-items: center;
}
.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: 1;
  z-index: -1;
}
.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, .6);
  left: 0;
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  z-index: -1;
}
.common-wrapper .example-form {
  margin-top: 20px;
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}
.common-wrapper .example-full-width,
.common-wrapper .btn-block {
  display: block;
  width: 100%;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  padding: 0;
}
.common-wrapper mat-card-header {
  padding-left: 0;
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}
.common-wrapper mat-card-header mat-card-title {
  font-size: 30px;
}
.common-wrapper .mat-card {
  padding: 40px 70px 50px;
}
.common-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: #FFF7FA;
}
.common-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}
.common-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}
.common-divider {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  color: black;
  background-color: #888888;
}
button{
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  width: fit-content;
}
button:disabled {
  background-color: #888888;
  color: white;
  cursor: not-allowed;
}
.button-normal {
  width: 230px;
}
.button-big {
  font-family: monospace;
  font-size: 40px;
  padding: 40px
}
.center {
  text-align: center;
}
.spacer {
  margin-bottom: 100px;
}
.error-message {
  text-align: center;
  padding-bottom: 20px;
}
mat-card-content {
  padding: 0;
}
.mat-positive {
  background-color: #a87d5b;
  color: white;
}
.mat-transparent {
  background-color: transparent;
  color: white;
}
.mat-negative {
  background: #773e37;
  color: white;
}
.quiz-creation-input {
  background: none;
  color: white;
  text-align: center;
  font-size: 16px;
  border: none;
  padding: 10px 5px;
}

.icon-button {
  color: #ba2828;
  width: 30px;
}
