<div class="center">
  <mat-card class="card-element lobby">
    <div class="lobby-grid">
      <h2 class="h2-grid">Scan the QR code to join!</h2>

      <h3 class="link-grid">{{config.data}}</h3>
      <div class="qr-grid">
        <mat-card class="qr">
          <ngx-qrcode-styling [template]="'grape'" [image]="'assets/ZurichUniLogo.svg'" [width]="256" [height]="256" [data]="QRvalue"></ngx-qrcode-styling>
        </mat-card>
      </div>

      <h2 class="between-title-grid">
        List of not your friends:
      </h2>

      <div class="players-grid">
        <ng-template ngFor let-str [ngForOf]="players">
          <span class="honey-player">
            {{str}}
          </span>
        </ng-template>
      </div>

      <span class="btn-grid">
        <button mat-raised-button color="positive" class="btn-block" (click)="startGame()">
          Start
        </button>
      </span>
    </div>
  </mat-card>
</div>
