@import "../../shared/host.shared.css";
 .card-element {
   margin-top: 30px;
 }
.lobby-grid {
  display: grid;
  column-gap: 8px;
  row-gap: 8px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto auto auto auto auto auto;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}
.center-top-grid {
  display: block;
  grid-column: 2 / span 3;
  grid-row: 1;
  font-size: xxx-large;
}
.qr-grid {
  display: block;
  grid-column: 2 / span 3;
  grid-row: 3;
  text-align: center;
  align-content: center;
  justify-content: center;
}
.between-title-grid {
  grid-column: 2 / span 3;
  grid-row: 4;
  text-align: center;
  align-content: end;
  justify-content: space-around;
}
.players-grid {
  grid-column: 1 / span 5;
  grid-row: 5;
  text-align: center;
  align-content: center;
  justify-content: space-around;
  padding: 0 20px 40px 20px;
  height: fit-content;
}
.btn-grid {
  display: inline-block;
  grid-column: 3;
  grid-row: 6;
  text-align: center;
  align-content: center;
  justify-content: center;
}
.btn-block {
  width: 100%;
}
.link-grid {
  display: block;
  grid-column: 2 / span 3;
  grid-row: 2;
  text-align: center;
  align-content: center;
}
.card-element.lobby {
  display: inline-block;
  width: 80%;
  padding: 10px 40px;
}
.qr {
  display: inline-block;
  text-align: center;
  background-color: white;
  padding: 10px;
  width: fit-content;
  height: fit-content;
}
.link-element,
.lobby-code {
  display: inline-block;
  width: fit-content;
  font-size: xx-large;
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: white;
}
.link-element {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0;
  padding-left: 14px;
}
.lobby-code {
  color: #9A4444;
  font-weight: bold;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0;
  padding-right: 14px;
}


@keyframes madWiggle {
  0% {
    rotate: 0deg;
    scale: 100%;
  }
  25% {
    rotate: 270deg;
    scale: 70%;
  }
  50% {
    rotate: 0deg;
    scale: 20%;
  }
  75% {
    rotate: -270deg;
    scale: 50%;
  }
  100% {
    rotate: 0deg;
    scale: 100%;
  }
}
