<mat-divider role="separator"/>
<div style="text-align: center">
  <span><button mat-raised-button color="accent" class="btn-block" routerLink="host/selection" routerLinkActive="active">Host</button></span>
  <span><button mat-raised-button color="accent" class="btn-block" style="margin-left: 10px;" routerLink="player/game/4/11" routerLinkActive="active">Game</button></span>
  <span><button mat-raised-button color="accent" class="btn-block" style="margin-left: 10px;" routerLink="player/register/9" routerLinkActive="active">PlayerRegisterQuiz9</button></span>
  <span><button mat-raised-button color="accent" class="btn-block" style="margin-left: 10px;" routerLink="player/game/9/4" routerLinkActive="active">PlayerQuiz9Round4</button></span>
</div>
