@import "../shared/host.shared.css";

.correct {
  background-color: #A9DFBF;
}


.solution {
  background-color: #a3d2ff !important;
}

.incorrect {
  color:#ba2828;
  background-color: #F5B7B1;
  transition: background-color 0.3s ease-in-out;
}
