
<div class="spacer"></div>


<body>
  <span class="home-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Created Games</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <button mat-raised-button color="accent" class="btn-block">
          <span class="id">1</span>
          <span class="name">Hardcoded Example</span>
        </button>
      </form>
    </mat-card>
  </span>

  <!--
  <div class="games-container">
    <ul class="games-list">
      <li>
        <button mat-raised-button type="button" class="home-wrapper mat-stroked-button">
          <span class="badge">1</span>
          <span class="name">Quiz Name</span>
        </button>
      </li>
    </ul>
  </div>
  -->
</body>


<span class="home-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button color="accent" class="button-big">Start</button>
</span>












<div class="spacer"></div>
<span class="home-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button color="accent" class="button-big" routerLink="/home/sandrin" routerLinkActive="active">Sandrin</button>
</span>
