@import "../../shared/host.shared.css";

.card-element {
  margin-top: 8%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10%;
  background-color: transparent; /* Todo: maybe remove this, maybe keep this... */
}
.btn-block {
  width: fit-content;
}
