<app-header [currentPlayerName]="playerName"></app-header>
<div class="center">
  <mat-card class="card-element">
    <div style="text-align: center" *ngIf="fullResults.length <=0">
      <h4>Answer submitted!</h4>
    </div>
    <div class="podium" *ngIf="fullResults.length > 0">
      <div class="podium-step" *ngFor="let result of fullResults; let i = index">
        <ng-container *ngIf="result.playerName == playerName">
          <div class="podium-info">
            <div class="podium-rank">{{i+1}}</div>
            <div class="podium-player">{{result.playerName}}</div>
            <div class="podium-total-points">{{result.totalPoints - result.lastRoundPoints}} (+ {{result.lastRoundPoints}})</div>
            <div class="podium-round-result">
              <span *ngFor="let char of result.lastRoundAnswerTarget">{{char}}</span>
            </div>
          </div>
          <div class="podium-base" [ngClass]="{'first': i === 1, 'second': i === 0, 'third': i === 2, 'higher' : i >= 3 }"></div>
        </ng-container>
      </div>
    </div>
  </mat-card>
</div>
