/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.main-html {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/assets/dall_3.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #131723;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
