<app-header></app-header>

<div class="grid-container">
  <div class="grid-message">
    <h3 class="double-center-content">
      Welcome back!
    </h3>
  </div>
  <div class="grid-header">
    <h1>Game Title</h1>
  </div>
  <span class="left-element">
    <mat-card class="quiz-element">
      <h2>My Quizzes</h2>

      <button mat-raised-button color="warning" class="btn-add" (click)="selectedPortal = defaultPortal; setSelectedQuiz(-1)">
        <mat-icon class="id">close</mat-icon>
        <span class="name">close all</span>
      </button>

      <button mat-raised-button color="positive" class="btn-add" (click)="selectedPortal = quizCreationPortal; setSelectedQuiz(-1)">
        <mat-icon class="id">library_add</mat-icon>
        <span class="name">Create New Quiz</span>
      </button>

      <mat-card-content>
        <ng-template ngFor let-quiz [ngForOf]="allQuizzes">
          <button mat-raised-button color="accent" class="btn-quiz" [ngClass]="{'active': quiz['id'] === selectedQuizId}" (click)="selectedPortal = quizPreviewPortal; setSelectedQuiz(quiz['id'])">
            <span class="id" >{{ quiz['id'] }}</span>
            <span class="name">{{ quiz['title'] }}</span>
          </button>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </span>
  <span class="quiz-preview-portal">
    <mat-card class="quiz-element">
      <h2>{{ getPortalTitle() }}</h2>
      <mat-card-content>
        <ng-template [cdkPortalOutlet]="selectedPortal"></ng-template>
      </mat-card-content>
    </mat-card>
  </span>
</div>
