@import "../../shared/host.shared.css";

h1 {
  font-size: 50px;
  rotate: -4deg;
  transition: rotate 2s;
}
h1:hover {
  rotate: 4deg;
}
.left-element {
  max-width: 25%;
}
.quiz-element {
  background: lightgray;
  padding: 5px 15px;
  text-align: center;
  max-width: 25%;
}
.btn-quiz {
  justify-content: left;
  width: 100%;
  text-align: left;
  margin-bottom: 8px;
}
.id {
  display: inline-block;
  text-align: left;
  color: darkred;
  margin-left: 15px;
  padding: 4px 1px;
  width: 20px;
  max-width: 20%;
}
.name {
  display: inline-block;
  text-align: left;
  max-width: 80%;
  margin-right: 10px;
  margin-left: 10px;
  padding: 4px 1px;
  line-break: none;
  overflow: hidden;
}
.mat-positive {
  background: darkolivegreen;
  color: white;
}
