<app-header></app-header>

<span class="common-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Existing Quizzes</mat-card-title>
    </mat-card-header>

    <div class="example-form">
      <ng-template ngFor let-quiz [ngForOf]="allQuizzes">
        <button mat-raised-button color="accent" class="btn-block" style="text-align: left; margin-bottom: 8px" (click)="redirect(quiz['id'])">
          <span class="id" >{{ quiz['id'] }}</span>
          <span class="name">{{ quiz['title'] }}</span>
        </button>
      </ng-template>
    </div>
  </mat-card>
</span>

<!--
<div class="center" style="margin-top: 10px;">
  <button mat-raised-button color="primary" class="button-normal" (click)="getHostQuizzes()">Temp: Get Quizzes</button>
</div>
-->

<span class="common-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button color="accent" class="button-normal" routerLink="/home/sandrin" routerLinkActive="active">Sandrin</button>
</span>
