@import "../../shared/host.shared.css";

h1 {
  font-size: 70px;
  font-weight: 600;
  background-image: repeating-conic-gradient(#a87d5b, #e3b885, #773e37, #7b624c, #e4b076);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.grid-container {
  padding-left: 8%;
  padding-right: 8%;
  display: grid;
  column-gap: 2%;
  row-gap: 8px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto;
  justify-content: space-around;
  align-content: start;
}
.grid-message {
  grid-column: 1;
  grid-row: 1;
}
.double-center-content {
  margin-top: 10%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.grid-header {
  grid-column: 1 / span 4;
  grid-row: 1;
  align-content: start;
  text-align: center;
}
.buttons-top-right {
  grid-column: 4 / span 1;
  grid-row: 1;
  align-content: center;
  text-align: right;
  margin-right: 15px;
  margin-top: 15px;
}
.left-element {
  grid-column: 1;
  grid-row: 2;
  display: inline-block;
}
.quiz-preview-portal {
  padding-right: 10px;
  grid-column: 2 / span 3;
  grid-row: 2;
  float: right;
}
.btn-quiz:active,
.btn-add:active {
  margin-bottom: 8px;
}
.btn-add {
  height: fit-content;
}
.icon {
  display: inline-block;
  color: #333;
  font-size: 130%;
  padding: 2px 10px 2px 0;
  margin-left: 4px;
}
.name {
  display: inline-block;
  max-width: 80%;
  color: #333;
  margin-right: 10px;
  margin-left: 10px;
  padding: 4px 1px;
}




@keyframes wiggleTitle {
  0% {
    rotate: -3deg;
  }
  50% {
    rotate: 3deg;
  }
  100% {
    rotate: -3deg;
  }
}
@keyframes pulsating {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(105%);
  }
  100% {
    transform: scale(100%);
  }
}
