<app-header></app-header>

<div class="center">
  <h1>Game Title</h1>
</div>

<span class="left-element">
  <div class="quiz-element">
    <h2>My Quizzes</h2>

    <button mat-raised-button color="positive" class="btn-quiz">+ Create New Quiz</button>
    <ng-template ngFor let-quiz [ngForOf]="allQuizzes">
      <button mat-raised-button color="accent" class="btn-quiz" style="text-align: left; margin-bottom: 8px" (click)="redirect(quiz['id'])">
        <span class="id" >{{ quiz['id'] }}</span>
        <span class="name">{{ quiz['title'] }}</span>
      </button>
    </ng-template>
  </div>
</span>

<div class="center">
</div>

<div class="center" style="margin-top: 40px">
  <button mat-raised-button color="accent" class="button-normal" routerLink="/host/sandrin" routerLinkActive="active">Sandrin</button>
</div>
